html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.site-container {
  overflow: hidden;
}

.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-reset,
.link-reset {
  line-height: 1;
}

.title-reset,
.text-reset {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  text-transform: uppercase;
}

.logo {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.035em;
  color: var(--color-viking);
}

.title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.flex-container {
  display: flex;
  align-items: flex-start;
}
