:root {
  --color-white: #fff;
  --color-rum: #f4f9e2;
  --color-twilight: #edfdff;
  --color-viking: #62d0df;
  --color-astronaut: #22356f;
  --color-casablanca: #f9b640;
  --color-light-blue: rgba(34, 53, 111, 0.5);
  --color-pippin: #ffe2de;
  --color-green: #c4e769;
  --color-yellow-marker: #e9b730;
  --color-blue: #0052c1;
  --color-fog: #dee1ff;
  --color-violet: #8f00ff;
  --color-hover-btn: #e99d16;
}
