@import "_normalize.css";
@import "_fonts.css";
@import "_variables.css";
@import "_vendor.css";
@import "_global.css";
@import "_overall.css";

/* components */
@import "./components/_header.css";
@import "./components/_hero.css";
@import "./components/_advantages.css";
@import "./components/_about.css";
@import "./components/_features.css";
@import "./components/_extra.css";
@import "./components/_contact.css";
@import "./components/_footer.css";


@import "_media.css";
